/* Stylesheet for code blocks */

pre {
	background: transparent;
}

code {
	font-family: 'Martian Mono Variable', monospace;
	--at-apply: text-[13px];
}

:not(pre) > code {
	--at-apply: px-1 py-[2px] rounded-[4px] border bg-brand-surface-accent
		text-brand-foreground-accent;
	border-color: #37394a;
}

:not(pre) > code {
	--at-apply: inline-block bg-driftwood-100 text-driftwood-900 border-0;
}
